*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}


.loading-text {
    text-align: center;
    font-size: clamp(10px, 4vw, 3rem);
    // font-size: 3rem;
	// line-height: 100px;
    line-height: clamp(30px, 4vw, 100px);
	span {
		display: inline-block;
		margin: 0 5px;
		color: #fff;
        font-family: 'Silkscreen', cursive;
		@for $i from 0 through 9 {
			&:nth-child(#{$i + 1}) {
				filter: blur(0px);
				animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
			}
		}
	}
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(7px);}
}


.loading-text__second {
    text-align: right;
    // font-size: 2rem;
    font-size: clamp(10px, 4vw, 2rem);
    line-height: clamp(50px, 4vw, 100px);
	// line-height: 100px;
	span {
		display: inline-block;
		margin: 0 5px;
		color: #fff;
        font-family: 'Silkscreen', cursive;
		@for $i from 0 through 9 {
			&:nth-child(#{$i + 1}) {
				filter: blur(0px);
				animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
			}
		}
	}
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(7px);}
}





section{
    position: relative;
    padding-bottom: 100px;
.container{
    max-width: 1200px;
    padding-inline: 20px;
    margin: 0 auto;
    height: 100vh;
    .cat__name{
        position: absolute;
        right: 10%;
        top: 20%;
        z-index: 21;
        .cat__inner{
            display: flex;
            flex-direction: column;
            span{
                display: inline-block;
                font-size: clamp(35px, 4vw, 2rem);
                color: rgb(217 140 166);
                font-family: 'Silkscreen', cursive;
                @for $i from 0 through 9 {
                    &:nth-child(#{$i + 1}) {
                        filter: blur(0px);
                        animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
                    }
                }
            }
        }

    }
    .menu{
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        background-color: rgb(38 13 21 /.7);
        backdrop-filter: blur(5px);
        max-width: 400px;
        border-radius: 20px;
        // left: 25%;
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            
            ul{
                padding: 20px;
                li{
                    padding-bottom: 20px;
                 
                    a{
                        color: rgb(217 140 166);
                        font-size: 2rem;
                        font-family: 'Silkscreen', cursive;
                    }
                }
            }
        }
    }
    .video{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    
    }
    .game__text{
        position: relative;
        z-index: 10;
        padding-top: 10%;
        h1{
            color: white;
            text-align: center;
            font-size: 3rem;
            transform: skew(20deg);
            text-shadow: 20px 0 0 ;
        }
        
    }
   
}
}
